<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h2><a href="/home-admin">Online Food Blog!</a></h2> <br>
    <h3>Welcome <%= user_info.user_name.toUpperCase() %></h3>
    <button><a href="/home-admin/user-list">View all User</a></button> | 
    <button><a href="/home-admin/admin-edit-account">Edit account</a></button> |
    <button><a href='/home-admin/add_restaurants'>Add Restaurant</a></button> |
    <button><a href='/home-admin/add_restaurants'>Add Restaurant</a></button> |
    <button><a href='/home-admin/edit_restaurants'>Edit Restaurant</a></button> |
    <button><a href='/home-admin/view_restaurants'>View Restaurant</a></button>
    <button><a href="/logout">Logout</a></button>
    
</body>
</html>