
<form method="POST" >
    <table>
        <tbody>
            <tr>
                <td>
                   
                    <label for="">E-mail Address:</label>
                    <input type="email"  name="u_email" required placeholder="Enter your E-mail address.">
                    
                </td>
            </tr>

            <tr>
                <td>
                
                    <label for="">Password:</label>
                    <input type="password"  name="u_pass" required placeholder="Enter your password.">
                   
                </td>
            </tr>

            <tr>
                <td>
                   <button type="submit">Login</button>
                    <a href="/">Back</a>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
</form>
