
<form method="POST" >
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="">E-mail Address:</label>
                        <input type="email" class="form-control" name="u_email" required placeholder="Enter your E-mail address.">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-group">
                        <label for="">Password:</label>
                        <input type="password" class="form-control" name="u_pass" required placeholder="Enter your password.">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <center><button type="submit" class="btn btn-primary">Login</button>
                        <a href="/">Back</a>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
</form>
